body {
	line-height: 1.4;
  color: #5D6D7E;
  font-size: 16px;
  font-weight: 300;
  overflow-x: hidden;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.navbar-default {
    background-color: transparent;
    border:0px;
    padding: 20px 0; 
    transition: all 0.3s;
}

.header {
    background-size: cover!important;
    min-height: 637px;
    position: relative;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover
{
    color: red;
}

.top-nav-collapse {
    padding: 0; 
    background: rgba(7,35,49, 10);
}

.logo-dec
{
    color: #be9e21;
}
.navbar-default .navbar-brand {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus
{
    color: #fff;
}
.navbar-brand {
    padding: 0px;
    font-size: 24px;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a
{
    padding: 5px 10px;
    font-size: 14px;
    line-height: 54px;
    font-weight: 400;
    text-transform: uppercase;
    background: transparent;
    color: #fff;
    -webkit-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #f2bd2d;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
    color: #f2bd2d;
}
.navbar-default .navbar-nav > li > a >.dropdown-toggle{
  background-color: transparent;
  color: #f2bd2d;
}
.dropdown-menu{
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px;
  transition: all 0.3s;
}

.dropdown-menu > li > a{
  color: white;
}

.dropdown-menu > li > a:hover{
  color: #f2bd2d;
  background-color: transparent;
}

/*Clase active de submenus*/
.dropdown-menu > .active > a,.dropdown-menu > .active > a:hover.dropdown-menu > .active > a:focus {
  color: #555555!important;
  background-color: red !important;
}
/*
.dropdown-menu > li > a > .active{
  color: red;
  border: 1px;
}*/

.banner-info
{
    padding-top: 140px;
    color: #fff;
}
.bnr-title, .bnr-sub-title
{
    font-family: 'Fira Sans', sans-serif;
}
.overlay-detail a i{
   text-align: center;
   position: absolute;
   bottom: 25px;
   font-size: 38px;
   color: #fff;
}
hr .texto{
  width: 50%;
  text-align: center;
}

.text-danger{
    color: #f2bd2d;
 }

footer{
    margin-top: 5%;
}

a{
    color: #f2bd2d;
}
.demo1 {
  text-align: left;
  font-weight: 300;
}

h1{
  margin-bottom: 2%;

}
.espaciotop{
  margin-top: 8%;
}
.fa-check{
  font-size: 150%;
}

.espacio{
  margin-top: 10%;
}


/* COMMON PRICING STYLES */
    .panel.price,
    .panel.price>.panel-heading{
      border-radius:0px;
       -moz-transition: all .3s ease;
      -o-transition:  all .3s ease;
      -webkit-transition:  all .3s ease;
    }
    .panel.price:hover{
      box-shadow: 0px 0px 30px rgba(0,0,0, .2);
    }
    .panel.price:hover>.panel-heading{
      box-shadow: 0px 0px 30px rgba(0,0,0, .2) inset;
    }
    
        
    .panel.price>.panel-heading{
      box-shadow: 0px 5px 0px rgba(50,50,50, .2) inset;
      text-shadow:0px 3px 0px rgba(50,50,50, .6);
    }
      
    .price .list-group-item{
      border-bottom-:1px solid rgba(250,250,250, .5);
    }
    
    .panel.price .list-group-item:last-child {
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }
    .panel.price .list-group-item:first-child {
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
    }
    
    .price .panel-footer {
      color: #fff;
      border-bottom:0px;
      background-color:  rgba(0,0,0, .1);
      box-shadow: 0px 3px 0px rgba(0,0,0, .3);
    }
    
    
    .panel.price .btn{
      box-shadow: 0 -1px 0px rgba(50,50,50, .2) inset;
      border:0px;
    }
    
  /* green panel */
  
    
    .price.panel-green>.panel-heading {
      color: #fff;
      background-color: #57AC57;
      border-color: #71DF71;
      border-bottom: 1px solid #71DF71;
    }
    
      
    .price.panel-green>.panel-body {
      color: #fff;
      background-color: #65C965;
    }
        
    
    .price.panel-green>.panel-body .lead{
        text-shadow: 0px 3px 0px rgba(50,50,50, .3);
    }
    
    .price.panel-green .list-group-item {
      color: #333;
      background-color: rgba(50,50,50, .01);
      font-weight:600;
      text-shadow: 0px 1px 0px rgba(250,250,250, .75);
    }
    
    /* blue panel */
  
    
    .price.panel-blue>.panel-heading {
      color: #fff;
      background-color: #608BB4;
      border-color: #78AEE1;
      border-bottom: 1px solid #78AEE1;
    }
    
      
    .price.panel-blue>.panel-body {
      color: #fff;
      background-color: #73A3D4;
    }
        
    
    .price.panel-blue>.panel-body .lead{
        text-shadow: 0px 3px 0px rgba(50,50,50, .3);
    }
    
    .price.panel-blue .list-group-item {
      color: #333;
      background-color: rgba(50,50,50, .01);
      font-weight:600;
      text-shadow: 0px 1px 0px rgba(250,250,250, .75);
    }
    
    /* red price */
    
  
    .price.panel-red>.panel-heading {
      color: #fff;
      background-color: #D04E50;
      border-color: #FF6062;
      border-bottom: 1px solid #FF6062;
    }
    
      
    .price.panel-red>.panel-body {
      color: #fff;
      background-color: #EF5A5C;
    }
    
    
    
    
    .price.panel-red>.panel-body .lead{
        text-shadow: 0px 3px 0px rgba(50,50,50, .3);
    }
    
    .price.panel-red .list-group-item {
      color: #333;
      background-color: rgba(50,50,50, .01);
      font-weight:600;
      text-shadow: 0px 1px 0px rgba(250,250,250, .75);
    }
    
    /* grey price */
    
  
    .price.panel-grey>.panel-heading {
      color: #fff;
      background-color: #6D6D6D;
      border-color: #B7B7B7;
      border-bottom: 1px solid #B7B7B7;
    }
    
      
    .price.panel-grey>.panel-body {
      color: #fff;
      background-color: #808080;
    }
    

    
    .price.panel-grey>.panel-body .lead{
        text-shadow: 0px 3px 0px rgba(50,50,50, .3);
    }
    
    .price.panel-grey .list-group-item {
      color: #333;
      background-color: rgba(50,50,50, .01);
      font-weight:600;
      text-shadow: 0px 1px 0px rgba(250,250,250, .75);
    }
    
    /* white price */
    
  
    .price.panel-white>.panel-heading {
      color: #333;
      background-color: #f9f9f9;
      border-color: #ccc;
      border-bottom: 1px solid #ccc;
      text-shadow: 0px 2px 0px rgba(250,250,250, .7);
    }
    
    .panel.panel-white.price:hover>.panel-heading{
      box-shadow: 0px 0px 30px rgba(0,0,0, .05) inset;
    }

      
    .price.panel-white>.panel-body {
      color: #fff;
      background-color: #dfdfdf;
    }
        
    .price.panel-white>.panel-body .lead{
        text-shadow: 0px 2px 0px rgba(250,250,250, .8);
        color:#666;
    }
    
    .price:hover.panel-white>.panel-body .lead{
        text-shadow: 0px 2px 0px rgba(250,250,250, .9);
        color:#333;
    }
    
    .price.panel-white .list-group-item {
      color: #333;
      background-color: rgba(50,50,50, .01);
      font-weight:600;
      text-shadow: 0px 1px 0px rgba(250,250,250, .75);
    }

    .espacio1{
  margin-top: 3%;
}

input{
  margin-bottom: 2%;
  margin-top: 2%;
}

.bg-color {
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 637px;
}

/*social*/
.social li {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 5px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.social li:hover {
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
}
.social li a {
    color: #EDEFF1;
}
.social li:hover {
    border: 2px solid #3b5998;
    background: #3b5998;
}
.social li a i {
    font-size: 16px;
    margin: 0 0 0 3px;
    color: #EDEFF1 !important;
}

@media (max-width: 767px){
    .redes {
        margin-left: 15px;
        margin-top: -10px;
    }
}
.redes ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 10px;
}
.redes ul li a {
    padding: 0 0 5px 0;
    display: inline-block;
}

.img-center {
    margin-left: auto;
    margin-right: auto;
}

@media(max-width: 767px){
    .navbar-brand>img {
        height: 50px;
    }
}