body{
    background-size: cover!important;
    min-height: 637px;
    position: relative;
}
.container {
    padding-left: 30px;
    padding-right: 30px;
}
.bg-color
{
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 637px;
}

.navbar-default {
    background-color: transparent;
    border:0px;
    padding: 20px 0; 
    transition: all 0.3s;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: white;
    background-color: transparent;
}
.top-nav-collapse {
    padding: 0; 
    background: rgba(64,75,97, 10);
}

.logo-dec
{
    color: #be9e21;
}
.navbar-default .navbar-brand {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus
{
    color: #fff;
}
.navbar-brand {
    padding: 0px;
    font-size: 24px;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a
{
    padding: 5px 10px;
    font-size: 14px;
    line-height: 54px;
    font-weight: 400;
    text-transform: uppercase;
    background: transparent;
    color: #fff;
    -webkit-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #f2bd2d;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
    color: #f2bd2d;
}

.dropdown-menu{
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px;
    transition: all 0.3s;
}

.dropdown-menu > li > a{
    color: white;
}

.dropdown-menu > li > a:hover{
    color: #f2bd2d;
    background-color: transparent;
}

.banner-info
{
    padding-top: 120px;
    color: #fff;
}
.bnr-title, .bnr-sub-title
{
    font-family: 'Fira Sans', sans-serif;
}
.overlay-detail a i{
   text-align: center;
   position: absolute;
   bottom: 25px;
   font-size: 38px;
   color: #fff;
}

.text-danger{
    color: #f2bd2d;
 }

footer{
    margin-top: 4%;
}

a{
    color: #f2bd2d;
}

@media (max-width: 767px) {
    .navbar-right {
        background-color: rgba(0, 0, 0, 0.8);
    }
}

/*social*/
.social li {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 5px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.social li:hover {
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
}
.social li a {
    color: #EDEFF1;
}
.social li:hover {
    border: 2px solid #3b5998;
    background: #3b5998;
}
.social li a i {
    font-size: 16px;
    margin: 0 0 0 3px;
    color: #EDEFF1 !important;
}

@media (max-width: 767px){
    .redes {
        margin-left: 15px;
        margin-top: -10px;
    }
}
.redes ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 10px;
}
.redes ul li a {
    padding: 0 0 5px 0;
    display: inline-block;
}

#footer {
    color: white;
}

@media(max-width: 767px){
    .navbar-brand>img {
        height: 50px;
    }
}