core_mensajes:
    resource: "@AdminBundle/Controller/MensajesController.php"
    type:     annotation

core_practicas:
    resource: "@AdminBundle/Controller/PracticasController.php"
    type:     annotation

core_cursos:
    resource: "@AdminBundle/Controller/CursosController.php"
    type:     annotation

core_grupos:
    resource: "@AdminBundle/Controller/GruposController.php"
    type:     annotation

core_archivos:
    resource: "@AdminBundle/Controller/ArchivosController.php"
    type:     annotation

core_empresas:
    resource: "@AdminBundle/Controller/EmpresasController.php"
    type:     annotation

core_usuarios:
    resource: "@AdminBundle/Controller/UsuariosController.php"
    type:     annotation

admin:
    resource: "@AdminBundle/Controller/"
    type:     annotation
    prefix:   /admin

logoutadmin:
    path: /admin/logout

core:
    resource: "@CoreBundle/Controller/"
    type:     annotation
    prefix:   /core

frontend:
    resource: "@FrontendBundle/Controller/"
    type:     annotation
    prefix:   /{_locale}/
    requirements:
        _locale: es|en

redirect:
    path: /
    controller: Symfony\Bundle\FrameworkBundle\Controller\RedirectController::urlRedirectAction
    defaults:
        path: /es/
        permanent: true

withoutLocale:
  path: /{page}
  defaults:
    _controller: FrameworkBundle:Redirect:redirect
    route: withLocale
    permanent: true

withLocale:
  path: /es/{page}

pageNotFound:
    path: /{path}
    defaults: {_controller: FrontendBundle:Default:error404}

pageNotFoundlocale:
  path: /{_locale}/{path}
  defaults: {_controller: FrontendBundle:Default:error404}
  requirements:
    _locale: es|en